.video__data {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    .video__title {
        font-size: 26px;
        margin-bottom: 5px;
    }
    .video__createdAt {
        font-size: 12px;
    }
    .video__owner {
        margin-bottom: 5px;
        font-size: 14px;
        a {
            color: cornflowerblue;
            text-decoration: underline;
        }
    }
}

.video__comments {
    position: absolute;
    display: flex;
    flex-direction: column;
    max-width: 320px;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 100px;
    .video__comment {
        button {
            display: block;
        }
        width: 100%;
        // height: 120%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-radius: 999999px;
        background-color: white;
        color: black;
        margin-bottom: 20px;
    }
}

.video__add-comments {
    .video__comment-form {
        width: 100%;
        textarea {
            display: block;
            width: 100%;
        }
        display: flex;
        .comment__btn {
            border-radius: 20px;
            margin: 0px 10px;
            background-color: yellow;
            width: 30%;
        }
    }
}
